@model WebApplicationCore.ViewModels.CourseCreateViewModels

<h1>Cadastro Curso</h1>
<form asp-action="create">
    <table>
        <tr>
            <td><label asp-for="Name"></label></td>
            <td><label asp-for="AuthorId"></label></td>
        </tr>
        <tr>
            <td> <input asp-for="Name" />
            <span asp-validation-for="Name"></span></td>
            <td><select asp-for="AuthorId" asp-items="@Model.authorsList"></select></td>
        </tr>
        <tr>
            <td><input type="submit" name="Save" value="Save" /></td>
        </tr>
    </table>    
</form>
