@model WebApplicationCore.ViewModels.CourseDeleteViewModel
<h2>You really want to exclude the @Html.DisplayFor(c=>c.NomeCourse)</h2>

<form asp-action="Delete">
    <input type="submit" name="Delete" value="Delete" />
</form>

