@model WebApplicationCore.Domain.Author

<h2>@Model.Name</h2>
<div>
    <h2>
    ....details.... <br />
    Id : @Model.id <br />
    Name : @Model.Name <br />
    Idade : @Model.Age <br />
    </h2>
</div>
<a asp-action="Index" asp-controller="Author">Index</a>