@model AuthorIndexViewModel
@*Utilizou o viewImports*@

<h1>@Model.CurrentMessage</h1>

@foreach(var author in Model.listAuthors)
{
    @Html.Partial("_Summary", author)

}

<a asp-action="Index" asp-controller="Home">Home</a>  <a asp-action="create">Create</a>


<style>
    a {
        text-decoration: none;
    }
</style>