@model WebApplicationCore.ViewModels.AuthorEditModel
<h2>Edit</h2>

<form asp-action="upDate">
    <table>
        <tr>
            <td><label asp-for="Name"></label></td>
            <td><label asp-for="Age"></label></td>
        </tr>
        <tr>
            <td><input asp-for="Name" /><span asp-validation-for="Name"></span></td>
            <td><input asp-for="Age" /><span asp-validation-for="Age"></span></td>
            <td><input type="submit" name="Alterar" value="Alterar" /></td>
        </tr>
    </table>
    <a asp-action="Index">Home</a>
</form>