<h2>Index</h2>

<h1>Click where you want to continue:</h1>

<ul style="font-size: 26px">
    <li><a asp-action="Index" asp-controller="Author">Author</a></li>
    <li><a asp-controller="Student" asp-action="Index">Student</a></li>
</ul>
    