@{
    ViewBag.Title = "Home page";
    @* não preciso mais especificar pois é visto do viewStart, só se eu quisesse
        especificar algum diferente
        Layout = "~/Views/Shared/_Layout.cshtml";*@
}

<h2>Index</h2>

<h1>Click where you want to continue:</h1>

<ul style="font-size: 26px">
    <li><a asp-action="Index" asp-controller="Author">Author</a></li>
    <li><a asp-controller="Student" asp-action="Index">Student</a></li>
    <li><a asp-controller="Course" asp-action="Index">Course</a></li>
    <li><a asp-controller="Evaluation" asp-action="Index">Evaluation</a></li>
</ul>

@*Chamando auqi a seção que foi criada*@
@section footer{
    Page main
}

<style>
    a {
        text-decoration: none;
    }
</style>
